{{template "base" .}}

{{define "title"}}Create{{end}}

{{define "body"}}
<form action="/create" method="POST">
	<input type="hidden" name="gorilla.csrf.Token" value="{{.CSRFToken}}">
	{{with .Form}}
		<div>
			<label>Text:</label>
			{{with .Errors.Get "text"}}
				<label class="error">{{.}}</label>
			{{end}}
			<textarea name="text">{{.Get "text"}}</textarea>
		</div>
		<div>
			<label>Delete after:</label>
			{{with .Errors.Get "expires"}}
				<label class="error">{{.}}</label>
			{{end}}
			{{$exp := or (.Get "expires") "0"}}
			<input type="radio" name="expires" value="0" {{if (eq $exp "0")}}checked{{end}}> One View
			<input type="radio" name="expires" value="1" {{if (eq $exp "1")}}checked{{end}}> One Hour
			<input type="radio" name="expires" value="7" {{if (eq $exp "7")}}checked{{end}}> One Day
		</div>
		<div>
			<input type="submit" value="Generate link">
		</div>
	{{end}}
</form>
{{end}}