{{template "base" .}}

{{define "title"}}Create{{end}}

{{define "body"}}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
	function enableSubmit() {
		document.getElementById("submit").removeAttribute("disabled");
	}
</script>
<form action="/create" method="POST" id="create-tempShare">
	<input type="hidden" name="gorilla.csrf.Token" value="{{.CSRFToken}}">
	{{with .Form}}
		<div>
			<label>Text:</label>
			{{with .Errors.Get "text"}}
				<label class="error">{{.}}</label>
			{{end}}
			<textarea name="text">{{.Get "text"}}</textarea>
		</div>
		<div>
			<label>Expire after:</label>
			{{with .Errors.Get "expires"}}
				<label class="error">{{.}}</label>
			{{end}}
			{{$exp := or (.Get "expires") "1"}}
			<input type="radio" name="expires" value="1" {{if (eq $exp "1")}}checked{{end}}> One Day
			<input type="radio" name="expires" value="3" {{if (eq $exp "3")}}checked{{end}}> Three Days
			<input type="radio" name="expires" value="7" {{if (eq $exp "7")}}checked{{end}}> One Week
		</div>
		<div>
			<label>Delete after:</label>
			{{with .Errors.Get "views"}}
				<label class="error">{{.}}</label>
			{{end}}
			{{$view := or (.Get "viewlimit") "1"}}
			<input type="radio" name="viewlimit" value="1" {{if (eq $view "1")}}checked{{end}}> One View
			<input type="radio" name="viewlimit" value="3" {{if (eq $view "3")}}checked{{end}}> Three Views
			<input type="radio" name="viewlimit" value="10" {{if (eq $view "10")}}checked{{end}}> Ten Views
		</div>
		<div class="g-recaptcha" data-sitekey="6Lf6y4keAAAAAAJ60lesX2__4gk3UoPVS8zbovpG" data-callback="enableSubmit"></div>
		<input type="submit" id="submit" value="Generate link" disabled="disabled">
	{{end}}
</form>
{{end}}