{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
	{{with .TempShare}}
    <div class="tempshare">
        <pre><code>{{.Text}}</code></pre>
        <div class="metadata">
            <time>Created: {{formattedDate .Created}}</time>
            <time>Expires: {{formattedDate .Expires}}</time>
        </div>
    </div>
	{{else}}
	<h2>Getting Started</h2>
	<p>TODO: Add home page info</p>
    {{end}}
{{end}}